<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/myservice/index.html">PCF Pipelines
</a>
      </li>

      <li>
        <a href="/myservice/vsphere-pipeline-install.html">vSphere Install Pipeline</a>
      </li>

      <li>
        <a href="/myservice/upgrade-tile.html">Upgrade Tile Pipeline</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
