---
title: Customizing PCF Pipelines
owner: 
---

This documentation discusses how to go about customizing pipelines. 

## <a id='overview'></a>Overview

While Pivotal encourages customers to modify pipelines, doing so makes it harder to update those modified pipelines. 
To resolve this, Pivotal requires operators to utilize `yaml-patch.` 

With `yaml-patch`, operators can maintain their customizations as patch files. These patches are then applied to pipelines, while those pipelines are updated. 

As a best-practice, pipelines and patches should be stored using a version-control platform of choice, such as git.

## <a id='download'></a>Downloading YAML Patch
<!---
## <a id='download'></a>Downloading YAML Patch
by for example, adding notification tasks, replacing resources, etc., -->
