---
title: PCF-Pipelines
owner: 
---

This documentation describes how to download, configure, and modify PCF Pipelines.

## <a id='overview'></a>Overview

PCF Pipelines are Concourse pipelines that install and upgrade Pivotal Cloud Foundry and its components. 
Pipelines are portable end-to-end task chains.
Each PCF Pipelines release contains bug fixes and new features. 
Pipelines are base templates meant to be modified. 
PCF Pipelines are utilized at Platform Dojos to automate the installing and upgrading of PCF. 
The PCF deployment installs the desired [Pivotal Reference Architecture] (https://docs.pivotal.io/pivotalcf/1-12/refarch/index.html). These Reference Architectures typically use three availability zones and high availability for components where possible. As such, these Reference Architecture are recommended for production environments.

Each pcf-pipeline consists of a:

+ `pipeline.yml` file.
  + This file configures the structure, resources, jobs, and tasks of the pipeline.
      + Jobs declare a unit of work.
      + Tasks break down that unit of work into smaller units.
  + This file contains resources, such as the Ops Manager tile, which defines the artifacts that enter or exit the pipelines.
+ `params.yml` file.
  + This file configures the pipeline’s environment variables. 
  + Because this file contains credentials, it should be stored in a credential management system, such as LastPass or Credhub.

## <a id='benefits'></a>Benefits

PCF Pipelines improve upon the manual experience of Installing and Upgrading PCF in the following ways:
  
  + PCF Pipelines allow operators to continuously deploy PCF while still maintaining previously configured modifications.
  + PCF Pipelines ensures that PCF platforms are more secure by ensuring a patch is applied as soon as that patch is available on PivNet.
    + Because patches are created frequently, automating this process decreases the manual maintenance necessary for the platform operator. 

## <a id='compatability'></a>Compatibility Matrix
The following pipelines are considered production-ready and are endorsed Pivotal Support:

<p class="note"><strong>Note</strong>: Currently, pcf-pipelines do not support 1.12.4.
</p>
<table>
  <tr>
    <th>IaaS</th>
    <th>Pipelines Release</th>
    <th>OM Version</th>
    <th>ERT Version</th>
  </tr>
  <tr>
    <td>vSphere</td>
    <td>v0.18.0</td>
    <td>1.12.x</td>
    <td>1.12.3</td>
  </tr>
  <tr>
    <td>GCP</td>
    <td>v0.18.0</td>
    <td>1.12.x</td>
    <td>1.12.3</td>
  </tr>
</table>

<p class="note"><strong>Note</strong>: Currently, pcf-pipelines do not support 1.11.4.
</p>
<table>
  <tr>
    <th>IaaS</th>
    <th>Pipelines Release</th>
    <th>OM Version</th>
    <th>ERT Version</th>
  </tr>
  <tr>
    <td>vSphere</td>
    <td>v0.17.0</td>
    <td>1.11.12</td>
    <td>1.11.8</td>
  </tr>
  <tr>
    <td>GCP</td>
    <td>v0.17.0</td>
    <td>1.11.12</td>
    <td>1.11.8</td>
  </tr>
</table>

## <a id="reqs"></a>Requirements
The following are prerequisites for utilizing PCF Pipelines:

+ A deployed instance of a Concourse server.
+ Pivotal encourages operators to install Concourse via [bosh-deploy](https://concourse.ci/clusters-with-bosh.html), as this is the only endorsed method of installation endorsed by Pivotal Support.
+ Access to a source control repository, for example, git. 
+ Access to a Docker registry. 
+ Enabling tasks requires a Docker image, so as to instantiate a container. 
For more information on using Docker registries with PCF, see the [Using Docker Registries](https://docs.pivotal.io/pivotalcf/1-12/opsguide/docker-registry.html) topic. 
+ Fly Command Line Interface (Fly CLI).
	+ This can be downloaded via the OS-specific link provided in the lower right hand corner of your Concourse user interface. 
+ Customers have to configure open firewalls to only the resources that you need access to (see https://github.com/pivotal-cf/pcf-pipelines/blob/master/FIREWALL.md) or set up proxies to the necessary resources, under the following circumstances:
  + No external access to Docker Hub and no internal Docker Registry available.
  + Centralized git-based SCMS not always available (~ 50% of customers).
  + Access to AWS S3 is blocked.
  + Access to GitHub is either blocked or white-listed only at projects domain level.
  + PivNet domain is typically white-listed (for existing Pivotal customers).
  + HTTP/HTTPS proxy required for external Internet access.

## <a id='download'></a>Downloading PCF Pipelines
The most stable version of Pipelines are available at [PivNet](https://network.pivotal.io/products/pcf-automation/) . 
Access to Pipelines is restricted. 
Please contact your account executive if you would like access to PCF Pipelines via PivNet. 

## <a id='install'></a>Install Pipelines
Install Pipelines deploy PCF for your desired IaaS. 
For public cloud installs, such as AWS, Azure, and GCP, the pipeline will deploy the necessary infrastructure in the public cloud, such as the networks, loadbalancers, and databases, and use these resources to then deploy Ops Manager and Elastic Runtime. 
On-premise private datacenter install pipelines, such as those for vSphere and Openstack, do not provision any infrastructure resources and only deploy Ops Manager and Elastic Runtime, using resources that are specified in the parameters of the pipeline.

<!---Insert link to install pipelines doc page, once it's completed--> 


## <a id='upgrade'></a>Upgrade Tile Pipelines
This pipeline supports patch upgrades of Elastic Runtime and service tiles. These pipelines are intended to be kept running for as long as the foundation exists. 
Upgrade pipelines check Pivotal Network periodically for new software versions, and apply these updates to your foundation. 

<!---Insert link to upgrade tile pipelines doc page, once it's completed--> 
