---
title: PCF-Pipelines
owner: Partners
---

This documentation describes how to download, configure, and modify PCF Pipelines.

## <a id='overview'></a>Overview

PCF Pipelines are Concourse pipelines that install and upgrade Pivotal Cloud Foundry and its components. 
Pipelines are portable end-to-end task chains.
Each PCF Pipelines release contains bug fixes and new features. 
Pipelines are base templates meant to be modified. 
PCF Pipelines are utilized at Platform Dojos to automate the installation and upgrading of PCF. 
The PCF deployment deploys the [Pivotal reference architecture] (https://docs.pivotal.io/pivotalcf/1-12/refarch/index.html), and typically uses three availability zones, high availability for components where possible, and is recommended for production environments.

The following types of pipelines are currently production-ready and supported by Pivotal:

<table>
  <tr>
    <th>PCF Pipeline Type</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  	<td></td>
    <td></td>
  </tr>
</table>

Each PCF Pipeline consists of a:

+ `pipeline.yml` file.
	+ This file configures the pipeline’s structure, resources, and jobs.
	+ Jobs declare a unit of work (creating infrastructure using terraform scripts, for example), and tasks, which breaks down the unit of work into smaller chunks.The pipeline.yml also contain resources (such as the Ops Manager tile) which define the artifacts that enter or exit the pipelines.
+ `params.yml` file.
	+ This file configures the pipeline’s environment variables. 
	+ Because this file contains credentials, it should be stored in a credential  management system such as LastPass or Credhub.



## <a id="reqs"></a>Requirements


## <a id="limitations"></a>Limitations

**List any known limitations.**

## <a id='license'></a>License

**List any license information here.**

